.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main .jumbotron {
  text-align: center;
  height: 300px;
  background: rgba(134, 99, 216, 0.7);
  margin-top: 10%;
}

.main .display-4 {
  text-shadow: 6px 6px 6px #000;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.project {
  border: #000 solid 1px;
  margin: 0;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Courier New';
  font-weight: bold;
  padding: 20px;
}

.navbar {
  align-content: center;
}

.projects img {
  width: 100px;
  height: 100px;
}

.images {
  border: 1px solid #000;
}

.main hr {
  height: 1px;
  box-shadow: 1px 1px 2px #400463;
  border: none;
  color: #878787;
  width: 60%;
}

.container h2 {
  color: #000;
}

.projects h4 {
  color: #000;
}

.navigation {
  background-color: #082d68;
}

.navigation .nav-link {
  color: #fff;

}

.navigation .navbar-brand {
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
}

.homepage {
  background-image: url("images/code.JPG");
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

.about .title, .container .title, .contact .title {
  margin-top: 20px;
  text-align: left;
}

#logo {
  margin-right: 10px;
}

/*change position of jumbotron on small screen*/
@media screen and (max-width: 548px) {
    .main .jumbotron {
        margin-top: 25%;
    }
}

