.main .jumbo {
  text-align: center;
  height: 300px;
  background: rgba(28, 58, 79, 0.7);
  margin-top: 10%;
}

.homepage .display-4 {
  text-shadow: 6px 6px 6px #000;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.description {
  font-family: 'Courier New';
  font-weight: bold;
  padding: 20px;
}

.navbar {
  align-content: center;
}

.projects img {
  width: 100px;
  height: 100px;
}

.images {
  border: 1px solid #000;
}

.container h2 {
  color: #000;
}

.projects h4 {
  color: #000;
}

.work .projects {
  text-align: center;
}

.work .title {
  text-shadow: 2px 2px 8px #1c3a4f;
}

.work .project {
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(28, 58, 79, 0.1);
}

.work img{
  height: 200px;
  width: 200px;
}

.work .project, .work img, .work h4 {
  margin: 25px;
}

.work .link:hover {
  text-decoration: none;
}

.work .project:hover {
  background-color: rgb(28, 58, 79);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.23);
}

.work .project:hover h4 {
  color: #fff;
}

.navigation {
  background-color: #082d68;
}

.navigation .nav-link {
  color: #fff;
}

.navigation .navbar-brand {
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
}

.homepage {
  background-image: url("images/code.JPG");
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.description {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

.about .title, .container .title {
  margin-top: 40px;
  text-align: left;
  margin-left: 25px;
}

.resume .summary, .resume .skills, .resume .projects, .resume .experience, .resume .education, .resume .certification {
  margin: 20px 40px;
  border-bottom: solid 1px #000;
}

.resumeHeader {
  background-color: #1c3a4f;
  padding: 30px 0px;
}

.resume h1.title {
  text-transform: uppercase;
  color: #bcddf4;
  text-align: center;
  font-size: 55px;
  font-family: 'Abel', sans-serif;
}

.resume span.date {
  float: right;
}

.resume .contactInfo {
  color: #bcddf4;
  margin-left: 40px;
}

.resume .social {
  color: #bcddf4;
  margin-right: 20px;
  text-align: right;
}

.resume .skills span {
  font-weight: bold;
  font-style: italic;
}

.resume .projects span.title, .resume .experience span.title, .resume .education span.title, .resume .certification span.title  {
  font-weight: bold;
}

.resume .projects ul {
  padding: 0;
}

.resume .projects li, .resume .experience li {
  padding: 0;
  margin-left: 50px;
}

.resume, .description {
  font-family: 'Istok Web', sans-serif;
}
/*
.about , .resume, .arcade, .memory, .map, .art {
  margin-top: 50px;
}*/

.contactForm .form-control, .contactForm button {
  width: calc(100% - 40px);
  margin: 20px 20px;
}

.contactForm h1 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 12px; 
  text-transform: uppercase;
  font-size: 35px;
  color: #000;
  text-shadow: 3px 3px 5px #1c3a4f;
}

.contactForm .textArea {
  height: 150px;
}

.contact .contactForm {
  background: url('./images/contact.jpg');
  background-size: contain;
  background-repeat: no-repat;
  border-radius: 4px;
  border: 2px solid #1c3a4f;
  display: block;
}

.contactForm .form-control {
  border: 1px solid #000;
}

.contactForm button {
  background-color: #1c3a4f;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 2px;
}

.contactForm button:hover {
  font-size: 26px;
  background-color: #285472;
}

.contactForm {
  display: inline-block;
  margin: 100px auto;
  text-align: left;
  margin-bottom: 20px;
}

.contact .social-icons {
  margin-top: 10px;
  text-align: center;
}

.contact .social-icons #github, .contact .social-icons #linkedin {
  margin-right: 20px;
}

.contact p {
  display: inline;
  font-size: 20px;
}

.contact i {
  font-size: 36px;
}

.contact a {
  color: #000;
}

.contact a:hover {
  color: #285472;
  text-decoration: none;
}

.container .memory, .container .arcade, .container .art, .container .map, .resume {
  margin-top: 50px;
}

#logo {
  margin-right: 10px;
}

.about #profilePic, .about #workPic {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
  border: 2px solid #1c3a4f;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.23);
}

/*change position of jumbotron on small screen*/
@media screen and (max-width: 548px) {
    .main .jumbo {
        margin-top: 25%;
    }
}

/*change text-align for contact info on small screen*/
@media screen and (max-width: 770px) {
    .resume .contactInfo, .resume .social {
      text-align: center;
      margin-left: 20px;
    }
}

/*redue size of contact form on bigger screen*/
@media screen and (min-width: 990px) {
    .contact .contactForm {
      width: 50%;
    }
}