.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jumbotron {
  text-align: center;
  margin-top: 10%;
  background: transparent;
  height: 60%;
}

.main {
  background-image: url("images/maxresdefault.jpg");
}

.btn {
  background-color: #1a5ecc;
  font-family: 'Courier New';
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.display-4 {
  text-shadow: 1px 1px 2px #1a5ecc;
}

.projects {
  margin-top: 10%;
}

.project {
  background-color: #e593ed;
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  margin-top: 7px;
}

p h4 {
  text-align: center;
}

html, body {
  height: 100%;
}

